contexttimer
decord
einops>=0.4.1
fairscale==0.4.4
ftfy
pandas
nltk
iopath
ipython
omegaconf
opencv-python-headless==4.5.5.64
opendatasets
packaging
pandas
openai
plotly
pre-commit
pycocoevalcap
pycocotools
python-magic
scikit-image
sentencepiece
spacy
streamlit
timm==0.4.12
torch
torchvision
tqdm
fschat
# git+https://github.com/huggingface/transformers
transformers>=4.28.0
tokenizers>=0.13.3
webdataset
wheel
accelerate
bitsandbytes
git+https://github.com/openai/CLIP.git
salesforce-lavis
